.site-header {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 100px;
    margin: 0 0 20px 0;
    color: #6db3bf;
}

.input-title {
    padding: 15px 25px 15px 25px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    color: #707070;
    border: 0;
    box-shadow: 0 2px 8px 0 #d8d8d8;
    outline: none;
}

.todo-container {
    margin-top: 50px;;
}

.app-description {
    margin-top: -14px;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: #707070;
}

.app-description a {
    text-decoration: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
    color: #cccccc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
    color: #cccccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
    color: #cccccc;
}