.input-title {
    padding: 15px 25px 15px 25px;
    width: 400px;
    font-size: 20px;
    color: #707070;
    border: 0;
    box-shadow: 0 0 5px 0 #adadad;
    outline: none;
}

.todo-container {
    margin-top: 50px;;
}